{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<form action = "#", method = "post">
    <div class="form-group">
        <label>Full Name </label>
        <input class = "form-control" type = "text" name = "fullname" >
    </div>

    <div class="form-group">
        <label>Email </label>
        <input class = "form-control" type = "email" name = "email" >
    </div>

    
    
    <button type = "submit" class="btn btn-primary">Continue to Symptoms</button>

    

    
</form>
{% endblock %}